body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #b0d0ff;
    font-family: arial, sans;
}

h1 {
    font-size: 200%;
    text-align: left;
    margin-top: 0.3em;
    margin-left: 1em;
    margin-bottom: 0em;
}

.main {
    margin-left: 1em;
    margin-top: 0.4em;
    margin-bottom: 1em;
    padding: 0.5em;
    background: white;
    border: 1px solid #000080;
}

.copyright {
    font-size: 75%;
    margin-top: -1em;
    padding-top: 0em;
    padding-left: 1.5em;
}

a img { /* firefox wants to put a border... */
    border: 0px;
}

/* Gallery view */

.gallery .main {
    width: 500px;
}

.gallery .row {
    clear: left;
    display: block;
    padding: 0.5em;
}

.album-cover {
    float: left;
    padding-right: 1em;
}

.album-title {
    line-height: 120px;
}

/* Album view */

.album .main {
    width: 880px;
}

.album .row {
    clear: left;
    display: block;
    /* margin-top: 1em;*/
}

.album .item {
    float: left;
    padding: 0.5em;
    /* margin-bottom: 1em;*/
}

.links {
    clear: both;
    display: block;
    padding: 0.5em;
    font-size: 85%
}

.links.bottom {
    padding-top: 0em;
    padding-bottom: 0em;
}

.album .comments {
    padding-top: 0em;
}

.right {
    float: right;
    padding-right: 1em;
}

/* Photo view */

/*
body.photo {
    background: white;
}

.photo h1 {
    margin-top: 0px;
    padding-top: 0.3em;
    margin-left: -2em;
    padding-left: 3em;
    padding-bottom: 0.3em;
    width: 100%;
    background: #b0d0ff;
    border-bottom: 1px solid #000080;
    border-right: 1px solid #000080;
}
*/

h1 a {
    text-decoration: none;
    color: black;
}

.photo .main {
    width: 920px;
}

/* Comments section */

.comments {
    font-size: 85%;
    padding: 0.5em;
}

.photo .img {
    padding: 0.5em;
}

.photo .description {
    padding: 0.5em;
}

#comment-text {
    float: left;
    font-family: arial, sans;
    width: 430px;
    height: 5em;
    padding-bottom: 0.5em;
}

.comments .likes .person {
    display: inline;
    font-weight: bold;
}

.comments .wrapper {
    padding: 1px 0px;
}

.comment, .comments .likes {
    background: #d0e0ff;
    padding: 4px;
    width: 500px;
}

.comment .person {
    float: left;
    font-weight: bold;
}

.comment .text {
    display: inline;
    text-height: 101%;
}

.comment .date {
    color: #555;
}
